{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Indoor Proxy Garden{% endblock %}


{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong> Indoor Proxy Garden</strong>
            <hr>
            07 82 27 58 31<br/>
            698 Avenue Roger Salengro, 59450 Douai.<br/>
            indoorProxyGarden@gmail.com<br/>
        </div>
    </div>

{% endblock %}
